<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />
    <application android:label="VoiceTuner" android:theme="@style/Theme.VoiceTuner" android:localeConfig="@xml/locales_config"
        android:icon="@drawable/ic_mic" android:allowBackup="false" android:supportsRtl="true">
        <provider android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.recordings" android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/recording_paths" />
        </provider>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".service.AudioProcessingService" android:exported="false"
            android:foregroundServiceType="microphone|mediaPlayback" />
    </application>
</manifest>
